# Application
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

# Docker
PYTHON_VERSION=3.14
UV_VERSION=0.8.17
APP_UID=1000
APP_GID=1000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Cassandra
CASSANDRA_CONTACT_POINTS=cassandra-1,cassandra-2,cassandra-3
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=url_shortener
CASSANDRA_USERNAME=
CASSANDRA_PASSWORD=
CASSANDRA_DATACENTER=datacenter1
CASSANDRA_CLUSTER_NAME=url_shortener_cluster
CASSANDRA_SEEDS=cassandra-1
CASSANDRA_RACK=rack1
CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
CASSANDRA_MAX_HEAP_SIZE=512M
CASSANDRA_HEAP_NEWSIZE=128M

# URL Shortener
SHORT_URL_BASE=http://localhost:8000
URL_ID_START=14776336
BASE62_ALPHABET=0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
OBFUSCATING_KEY=
