# Application
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Cassandra
CASSANDRA_CONTACT_POINTS=cassandra-1,cassandra-2,cassandra-3
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=url_shortener
CASSANDRA_USERNAME=
CASSANDRA_PASSWORD=
CASSANDRA_DATACENTER=datacenter1

# URL Shortener
SHORT_URL_BASE=http://localhost:8000
URL_ID_START=14776336